<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>CI的数据库操作</title>
</head>
<body>
	<table border='2px'>
		<tr>
			<td>brand_id</td><td>brand_name</td><td>brand_logo</td><td>brand_desc</td><td>site_url</td>
		</tr>
		
			<tr>
				<td><?=$list['brand_id']?></td><td><?=$list['brand_name']?></td><td><?=$list['brand_logo']?></td><td><?=$list['brand_desc']?></td><td><?=$list['site_url']?></td>
			</tr>
		
		
	</table>
</body>
</html>